name: Deploy Lambda
on:
  push:
    branches:
      - main
jobs:
  build-source:
    name: build lambda
    strategy:
      matrix:
        python-version: [3.10.12]
        aws_region: [eu-west-2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        env:
          CI: true
      - name: Upload Artefact
        uses: actions/upload-artifact@v3
        with:
          name: bundle.zip
          path: ./
